<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
	
  <!-- Servlets -->
  <servlet>
    <servlet-name>serverDataService</servlet-name>
    <servlet-class>
      nl.tue.fingerpaint.server.serverdata.ServerDataServiceImpl
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serverDataService</servlet-name>
    <url-pattern>/fingerpaint/serverDataService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>fingerpaint/Fingerpaint.html</welcome-file>
  </welcome-file-list>

	<servlet>
		<servlet-name>simulatorSevice</servlet-name>
		<servlet-class>nl.tue.fingerpaint.server.simulator.SimulatorServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>simulatorSevice</servlet-name>
		<url-pattern>/fingerpaint/simulatorService</url-pattern>
	</servlet-mapping>
</web-app>