*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdy
*.tdo
*.tex.bak
*.synctex
*.kate-swp
*.backup
*~
fingerpaint/war/WEB-INF/classes/
*.class
fingerpaint/gwt-unitCache/
fingerpaint/war/WEB-INF/deploy/
fingerpaint/war/fingerpaint/
*.o
*.mod
fingerpaint/war/WEB-INF/classes/META-INF/jdoconfig.xml
fingerpaint/war/WEB-INF/classes/META-INF/persistence.xml
fingerpaint/war/WEB-INF/classes/log4j.properties
fingerpaint/war/map*
