.cellBrowserWidget {
	
}

.cellBrowserColumn {
	
}

.cellBrowserFirstColumn {
	
}

.cellBrowserOpenItem {
	background: MAIN_LIGHT;
}

.cellBrowserKeyboardSelectedItem {
	/* no specific styling, see below */
}

.cellBrowserKeyboardSelectedItem:nth-child\(odd\),
.cellBrowserEvenItem {
	background: WHITE;
	padding: 10px;
}

.cellBrowserKeyboardSelectedItem:nth-child\(even\),
.cellBrowserOddItem {
	background: WHITE;
	padding: 10px;
}

.cellBrowserKeyboardSelectedItem:nth-child\(odd\):hover,
.cellBrowserEvenItem:hover,
.cellBrowserKeyboardSelectedItem:nth-child\(even\):hover,
.cellBrowserOddItem:hover,
.cellBrowserSelectedItem:hover {
	cursor: pointer;
}

.cellBrowserSelectedItem {
	padding: 10px;
	background: MAIN !important;
	color: WHITE;
}