/* Background colors: http://w3.tue.nl/en/services/cec/corporate_identity/housestyle_guidelines/colors/ */
/* background-color:#FF9A00; /* orange */
/* background-color:#D6004A; /* redish-pink */
/* background-color:#0092B5; /* sea-blue */
/* background-color:#101073; /* dark-blue */
/* background-color:#0066CC; /* blue */
/* background-color:#00A2DE; /* light-blue */
/* background-color:#00AC82; /* green */
/* background-color:#84D200; /* light-green */
/* background-color:#FFDD00; /* yellow */
/* background-color:#D6007B; /* pink */

* {
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0;
	padding: 0;
}

/* (try to) erase Firefox outline */
a:focus,
a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: 1px dotted transparent;
	outline: none !important;
}

body {
	/* 	background-image: url("http://cdn.dottech.org/media/2013/01/optical_illusion_rotating.jpg"); */
	/* 	background-position: center top; */ /* 	background-size: cover; */
	/* 	background-image: url("http://www.gravatar.com/avatar/c88dd72da6a28c7afaf3301bac80d929?s=210"); insert nice picture here */
	/* 	background-position: center center; */
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans !important;
	font-size: 15px !important;
	margin: 0;
}

.panelButton {
	width: 120px !important;
}

#cancelCompareButton,
#cancelSaveResultsButton {
	margin-right: 0px;
	margin-left: 4px;
}

.gwt-PopupPanel {
	border: 2px solid MAIN;
	padding: 4px 8px 4px 4px;
	z-index: POPUP_PANEL_Z;
}

#loading-overlay {
	position: fixed;
	top: 0; /*Absolute margin from top of screen is 0*/
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	z-index: LOADING_OVERLAY_Z;
}

#loading-overlay .gwt-Image {
	position: absolute;
	top: 50%;
	left: 50%;
	/* actually center the image with negative margins, half the size of the image */
	margin: -27px 0 0 -27px;
	z-index: LOADING_OVERLAY_CONTENT_Z;
}

#loading-overlay .gwt-Label {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: 42px;
	text-align: center;
	font-weight: bold;
	color: WHITE;
	z-index: LOADING_OVERLAY_CONTENT_Z;
}

#protPanel {
	border: 0px;
	width: MENU_WIDTH;
}

/* remove list header row */
.removeListHeader {
	background-color: MAIN;
	color: WHITE;
}

.center {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

/* remove list flex table */
.removeList {
	border: 1px solid MAIN;
	padding: 2px;
	margin-bottom: 6px;
}

#fingerpaintCanvas {
	position: fixed;
	top: 0;
	left: 0;
}

#menuPanelInnerWrapper {
	width: MENU_TOTAL_WIDTH;
}

#menuPanelWrapper {
	position: absolute;
	right: 8px;
	top: 56px;
	background-color: WHITE;
	overflow: hidden;
	width: MENU_WIDTH;
}

#menuPanel, #menuSub1Panel, #menuSub2Panel {
	display: inline-block;
	vertical-align: top;
	width: MENU_WIDTH;
}

#popupPanelPanel td:nth-child\(2\) {
	width: MENU_WIDTH;
}

#menuToggleButton {
	border-radius: 20px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 8px;
	height: 40px;
	width: 40px;
}

#menuToggleButton img {
	left: 0;
	position: absolute;
	top: 0;
}

.gwt-Button,
.gwt-ToggleButton,
button {
	border: 0;
	margin: 2px 2px;
	padding: 10px 5px;
	background: MAIN;
	color: WHITE;
	text-transform: uppercase;
}

.backMenuButton {
	background: MAIN_SUPPORT;
}

#menuPanelWrapper .gwt-Button,
#menuPanelWrapper .gwt-ToggleButton,
#menuPanelWrapper button {
	width: MENU_BUTTON_WIDTH;
}

.gwt-Button[disabled],
.gwt-ToggleButton[disabled],
button[disabled] {
	color: LIGHT_GRAY;
}

.gwt-ToggleButton {
	padding: 10px 0;
}

.gwt-ToggleButton .html-face {
	text-align: center;
}

.gwt-Button:hover,
.gwt-ToggleButton:hover,
.gwt-ToggleColourButton:hover,
.dp-spinner-upbutton:hover,
.dp-spinner-downbutton:hover {
	background: MAIN_LIGHT;
	border: 0; /* disable some weird Google styling */
	cursor: pointer;
}

.gwt-Button:active,
.gwt-ToggleButton-down,
.gwt-ToggleButton:active,
.gwt-ToggleButton-down:active,
.dp-spinner-upbutton:active,
.dp-spinner-downbutton:active {
	background: -webkit-linear-gradient(bottom, MAIN_LIGHT, MAIN);
	background: linear-gradient(to top, MAIN_LIGHT, MAIN);
	border: 0; /* disable some weird Google styling */
}

.gwt-Button[disabled]:hover,
.gwt-ToggleButton[disabled]:hover,
.gwt-Button[disabled]:active,
.gwt-ToggleButton[disabled]:active {
	background: MAIN;
	border: 0; /* disable some weird Google styling */
}

/* Fixes the running off the screen of the ToggleButton that toggles the colour */
cleacdr
.gwt-ToggleButton {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.gwt-TextArea {
	resize: none;
}

#menuPanelWrapper #protLabel {
	border: 1px solid MAIN;
	border-radius: 3px 3px 3px 3px;
	font-family: monospace;
	font-size: 12px;
	font-weight: normal;
	margin: 2px;
	padding: 5px;
	text-transform: none;
	width: MENU_PROTOCOL_LABEL_WIDTH;
}

#menuPanelWrapper .menuTitleLabel {
	background: MAIN_DARK;
	border-radius: 3px 3px 3px 3px;
	color: WHITE;
	font-size: 12px;
	font-weight: bold;
	margin: 2px;
	padding: 5px;
	text-transform: uppercase;
	width: MENU_TITLE_LABEL_WIDTH;
}

.spinnerNumberBox {
	background: none repeat scroll 0 0 WHITE;
	border: 1px solid MAIN;
	font-size: 32px;
	height: 43px;
	text-align: right;
	width: MENU_SPINNER_WIDTH;
	margin: 2px 0;
}

.dp-spinner-upbutton,
.dp-spinner-downbutton {
	font-size: 20pt;
	padding: 2px 5px;
	height: 45px;
	width: MENU_SPINNER_BUTTON_WIDTH !important;
}

.dp-spinner-upbutton {
	border-radius: 0 3px 3px 0;
	margin: 0;
	margin: 2px 2px 2px 0;
}

.dp-spinner-downbutton {
	padding-bottom: 10px;
	border-radius: 3px 0 0 3px;
	margin: 2px 0 2px 2px;
}

.dp-spinner-horizontalpanel {
	padding: 0px 3px;
}

.removeListHeader {
	background: none;
	color: BLACK;
	font-style: normal;
	font-weight: bold;
}

.removeListHeader td {
	padding: 4px;
}

/* ToggleColourButton styling */
.gwt-ToggleColourButton {
	min-height: 50px;
	position: relative;
	z-index: TOGGLE_COLOUR_BUTTON_Z;
}

.gwt-ToggleColourButtonBackground {
	border-radius: 5px;
	height: 30px;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	top: 15px;
	width: 30px;
	z-index: TOGGLE_COLOUR_BUTTON_Z_BG;
}

.gwt-ToggleColourButtonForeground {
	border-radius: 5px;
	height: 30px;
	left: 50%;
	margin-left: -20px;
	position: absolute;
	top: 5px;
	width: 30px;
	z-index: TOGGLE_COLOUR_BUTTON_Z_FG;
}

/* labels */
#menuPanelWrapper .gwt-Label {
	font-size: 14px;
	font-weight: bold;
	margin: 2px;
	padding-left: 2px;
	text-transform: uppercase;
}

#listScrollPanel {
	max-height: 250px;
}

/* drawing tool */
#squareDrawingTool, #circleDrawingTool {
	min-height: 45px;
	padding: 0;
	position: relative;
	z-index: TOGGLE_COLOUR_BUTTON_Z;
	width: TOGGLE_COLOUR_BUTTON_WIDTH !important;
}

#squareDrawingTool .html-face,
#circleDrawingTool .html-face {
	background: WHITE;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	height: 30px;
	left: 50%;
	margin-left: -15px;
	position: absolute;
	top: 7.5px;
	width: 30px;
	z-index: TOGGLE_COLOUR_BUTTON_Z_BG;
}

#circleDrawingTool .html-face {
	border-radius: 15px;
}

/* notification panel style */
.popupPanelNotification,
.popupPanelLoadingNotification {
	background: GREEN;
	border: 0 none;
	color: WHITE;
	font-size: 20px;
	font-weight: bold;
	margin: 4px 0 0 4px;
	padding: 20px;
}

.popupPanelLoadingNotification {
	background: MAIN;
}