body {
	margin: 0;
}

.gwt-PopupPanel.popupContent {
	border: 1px solid black;
}

#loading-overlay {
	position: absolute;
	top: 0; /*Absolute margin from top of screen is 0*/
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
}

#loading-overlay .gwt-Image {
	position: absolute;
	top: 50%;
	left: 50%;
	/* actually center the image with negative margins, half the size of the image */
	margin: -27px 0 0 -27px;
}

#loading-overlay .gwt-Label {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: 42px; /* half the size of the loading image, plus extra margin (15px) */
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #FFF;
}

/* remove list header row */
.removeListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* remove list flex table */
.removeList {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}