/* Background colors: http://w3.tue.nl/en/services/cec/corporate_identity/housestyle_guidelines/colors/ */
/* background-color:#FF9A00; /* orange */
/* background-color:#D6004A; /* redish-pink */
/* background-color:#0092B5; /* sea-blue */
/* background-color:#101073; /* dark-blue */
/* background-color:#0066CC; /* blue */
/* background-color:#00A2DE; /* light-blue */
/* background-color:#00AC82; /* green */
/* background-color:#84D200; /* light-green */
/* background-color:#FFDD00; /* yellow */
/* background-color:#D6007B; /* pink */


/* only TOP: Auto-aanvul voor alle richtingen
   TOP & RIGHT = TOP/BOTTOM & RIGHT/LEFT are equal */
/* . is een class; Kan je aan meerdere hangen
   #is alles met een ID; Is voor 1 element */

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}

body {
/* 	background-image: url("http://richrock.com/gifs/optical-illusion-wheels-circles-rotating.png"); */
/* 	background-position: center top; */
	background-image: url("http://www.gravatar.com/avatar/c88dd72da6a28c7afaf3301bac80d929?s=210"); /* insert nice picture here */
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed;
	font-family: sans !important;
	font-size: 15px !important;
	margin: 0;
}

.gwt-PopupPanel {
	border: 2px solid #D6007B;
	padding: 4px 8px 4px 4px;
}

#loading-overlay {
	position: absolute;
	top: 0; /*Absolute margin from top of screen is 0*/
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
}

#loading-overlay .gwt-Image {
	position: absolute;
	top: 50%;
	left: 50%;
	/* actually center the image with negative margins, half the size of the image */
	margin: -27px 0 0 -27px;
}

#loading-overlay .gwt-Label {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: 42px;
	/* half the size of the loading image, plus extra margin (15px) */
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #FFF;
}

#protPanel {
	border: 0px;
	width: 15%;
}

/* remove list header row */
.removeListHeader {
	background-color: #2062B8;
	color: white;
	font-style: italic;
}

.center {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

/* remove list flex table */
.removeList {
	border: 1px solid silver;
	padding: 2px;
	margin-bottom: 6px;
}

#menuPanel {
	position: absolute;
	right: 4px;
	width: 15%;
	top: 28px;
}

#menuToggleButton {
	border-radius: 10px 10px 10px 10px;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 4px;
	text-align: center;
	top: 4px;
	width: 20px;
}

.gwt-Button,
.gwt-ToggleButton,
button {
	border: 0;
	margin: 2px 2px;
	width: 100%;
	padding: 10px 5px;
	background: #d6007b;
	color: #ffffff;
}

.gwt-ToggleButton {
	padding: 10px 0;
}

.gwt-ToggleButton .html-face {
	text-align: center;
}

.gwt-Button:hover,
.gwt-ToggleButton:hover {
	background: #810027;
	border: 0; /* disable some weird Google styling */
}

.gwt-Button:active,
.gwt-ToggleButton:active {
	background: -prefix-linear-gradient(bottom, #d6007b, #810027);
	background: linear-gradient(to top, #d6007b, #810027);
	border: 0; /* disable some weird Google styling */
}

.gwt-Button[disabled]:hover,
.gwt-ToggleButton[disabled]:hover,
.gwt-Button[disabled]:active,
.gwt-ToggleButton[disabled]:active {
	background: #d6007b;
	border: 0; /* disable some weird Google styling */
}

/* Fixes the running off the screen of the ToggleButton that toggles the colour */cleacdr
.gwt-ToggleButton {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.gwt-TextArea {
	resize: none;
}

#protLabel {
	font-family: monospace;
	width: 100%;
	border: 1px solid;
	border-color: #d6007b;
	padding: 2px;
}

.spinnerNumberBox {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #D6007B;
	font-size: 32px;
	height: 45px;
	text-align: right;
	width: 100%;
}

.dp-spinner-upbutton,
.dp-spinner-downbutton {
	padding: 1px 5px 2px 0;
}

.dp-spinner-horizontalpanel {
	padding: 0px 3px;
}

.removeListHeader {
	background: none;
	color: #000;
	font-style: normal;
	font-weight: bold;
}

.removeListHeader td {
	padding: 4px;
}