/* Background colors: http://w3.tue.nl/en/services/cec/corporate_identity/housestyle_guidelines/colors/ */
/* background-color:#FF9A00; /* orange */
/* background-color:#D6004A; /* redish-pink */
/* background-color:#0092B5; /* sea-blue */
/* background-color:#101073; /* dark-blue */
/* background-color:#0066CC; /* blue */
/* background-color:#00A2DE; /* light-blue */
/* background-color:#00AC82; /* green */
/* background-color:#84D200; /* light-green */
/* background-color:#FFDD00; /* yellow */
/* background-color:#D6007B; /* pink */

@def TOGGLE_COLOUR_BUTTON_Z 10;
@def TOGGLE_COLOUR_BUTTON_Z_BG 11;
@def TOGGLE_COLOUR_BUTTON_Z_FG 12;
@def POPUP_PANEL_Z 20;

@eval BLACK nl.tue.fingerpaint.shared.utils.Colour.BLACK.toHexString();
@eval MAIN_LIGHT nl.tue.fingerpaint.shared.utils.Colour.TUE_LIGHT_BLUE.toHexString();
@eval MAIN nl.tue.fingerpaint.shared.utils.Colour.TUE_BLUE.toHexString();
@eval MAIN_DARK nl.tue.fingerpaint.shared.utils.Colour.TUE_DARK_BLUE.toHexString();
@eval WHITE nl.tue.fingerpaint.shared.utils.Colour.WHITE.toHexString();

/* only TOP: Auto-aanvul voor alle richtingen
   TOP & RIGHT = TOP/BOTTOM & RIGHT/LEFT are equal */
/* . is een class; Kan je aan meerdere hangen
   #is alles met een ID; Is voor 1 element */

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}

a:focus, a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: 1px dotted transparent;
	outline: none !important;
}

body {
/* 	background-image: url("http://richrock.com/gifs/optical-illusion-wheels-circles-rotating.png"); */
/* 	background-position: center top; */
	background-image: url("http://www.gravatar.com/avatar/c88dd72da6a28c7afaf3301bac80d929?s=210"); /* insert nice picture here */
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed;
	font-family: sans !important;
	font-size: 15px !important;
	margin: 0;
}

.gwt-PopupPanel {
	border: 2px solid MAIN;
	padding: 4px 8px 4px 4px;
	z-index: POPUP_PANEL_Z;
}

#loading-overlay {
	position: absolute;
	top: 0; /*Absolute margin from top of screen is 0*/
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
}

#loading-overlay .gwt-Image {
	position: absolute;
	top: 50%;
	left: 50%;
	/* actually center the image with negative margins, half the size of the image */
	margin: -27px 0 0 -27px;
}

#loading-overlay .gwt-Label {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: 42px;
	/* half the size of the loading image, plus extra margin (15px) */
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: WHITE;
}

#protPanel {
	border: 0px;
	width: 15%;
}

/* remove list header row */
.removeListHeader {
	background-color: MAIN;
	color: WHITE;
}

.center {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

/* remove list flex table */
.removeList {
	border: 1px solid MAIN;
	padding: 2px;
	margin-bottom: 6px;
}

#menuPanel {
	position: absolute;
	right: 4px;
	width: 15%;
	top: 28px;
	background-color: WHITE;
}

#menuToggleButton {
	border-radius: 10px 10px 10px 10px;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 4px;
	text-align: center;
	top: 4px;
	width: 20px;
}

.gwt-Button,
.gwt-ToggleButton,
button {
	border: 0;
	margin: 2px 2px;
	width: 100%;
	padding: 10px 5px;
	background: MAIN;
	color: WHITE;
}

.gwt-Button[disabled],
.gwt-ToggleButton[disabled],
button[disabled] {
	color: LIGHT_GRAY;
}

.gwt-ToggleButton {
	padding: 10px 0;
}

.gwt-ToggleButton .html-face {
	text-align: center;
}

.gwt-Button:hover,
.gwt-ToggleButton:hover {
	background: MAIN_LIGHT;
	border: 0; /* disable some weird Google styling */
}

.gwt-Button:active,
.gwt-ToggleButton:active {
	background: -webkit-linear-gradient(bottom, MAIN_LIGHT, MAIN);
	background: linear-gradient(to top, MAIN_LIGHT, MAIN);
	border: 0; /* disable some weird Google styling */
}

.gwt-Button[disabled]:hover,
.gwt-ToggleButton[disabled]:hover,
.gwt-Button[disabled]:active,
.gwt-ToggleButton[disabled]:active {
	background: MAIN;
	border: 0; /* disable some weird Google styling */
}

/* Fixes the running off the screen of the ToggleButton that toggles the colour */cleacdr
.gwt-ToggleButton {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.gwt-TextArea {
	resize: none;
}

#protLabel {
	font-family: monospace;
	width: 100%;
	border: 1px solid;
	border-color: MAIN;
	padding: 2px;
}

.spinnerNumberBox {
	background: none repeat scroll 0 0 WHITE;
	border: 1px solid MAIN;
	font-size: 32px;
	height: 45px;
	text-align: right;
	width: 100%;
}

.dp-spinner-upbutton,
.dp-spinner-downbutton {
	padding: 1px 5px 2px 0;
}

.dp-spinner-horizontalpanel {
	padding: 0px 3px;
}

.removeListHeader {
	background: none;
	color: BLACK;
	font-style: normal;
	font-weight: bold;
}

.removeListHeader td {
	padding: 4px;
}

/* ToggleColourButton styling */
.gwt-ToggleColourButton {
	min-height: 50px;
	position: relative;
	z-index: TOGGLE_COLOUR_BUTTON_Z;
}

.gwt-ToggleColourButtonBackground {
	border-radius: 5px;
	height: 30px;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	top: 15px;
	width: 30px;
	z-index: TOGGLE_COLOUR_BUTTON_Z_BG;
}

.gwt-ToggleColourButtonForeground {
	border-radius: 5px;
	height: 30px;
	left: 50%;
	margin-left: -20px;
	position: absolute;
	top: 5px;
	width: 30px;
	z-index: TOGGLE_COLOUR_BUTTON_Z_FG;
}